.plus{
    margin-left: 10px;
    color: #00BDD0;
}
.timeList{
    margin: 20px 0 50px 0;
}
.addTime{
    cursor: pointer;
    width: fit-content;
}
.timeWrapper{
    display: flex;
    align-items: center;
    margin: 25px 0;
}
.timeWrapper>span{
    margin: 0 30px 0 0;
    display: flex;
    align-items: center;
}
.timeWrapper>span>span{
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;

    color: #000000;
    margin: 0 10px 0 0;
}
.timeWrapper>span>div>div{
    margin: auto;
}
.timePicker, .minPicker, .datePicker{
    padding: 10px 15px;
    font-size: 16px;
    background: #F8F8F8;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}
.timePicker:focus, .minPicker:focus, .datePicker:focus{
    outline: none;
}
.timePicker{
    border-radius: 5px 0 0 5px;
}
.minPicker{
    border-radius: 0 5px 5px 0;
}
.datePicker{
    min-width: 300px;
    border-radius: 5px;
}
.date{
    border-radius: 10px;
}
.del{
    cursor: pointer;
}
.selectWrapper{
    width: 350px;
}


/*/////////////////////////////////////////////////////////////////////*/
/*new Time table*/
.wrapper{
    /*height: 68vh;*/
}
.weeksWrapper{
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-gap: 1em;;
}
.weeks{
    border: 2px solid #00BDD0;
    /*border-bottom: none;*/
    overflow-y: scroll;
    min-height: 400px;
}
.weeks::-webkit-scrollbar {
    width: 0;
}
.week{
    display: flex;
    justify-content: space-between;
}
.week>div{
    cursor: pointer;
}
.add{
    cursor: pointer;
}
.week, .add{
    border-bottom: 2px solid #00BDD0;
    padding: 10px 0 10px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.active{
    background: #00BDD0;
    color: #FFFFFF;

}
.add{
    padding: 10px 0;
    text-align: center;
}
.imgWrapper{
    height: 17px;
    margin-right: 15px;
}
.imgWrapper>img{
    height: 100%;
}