.wrapper{
    width: 80%;
    display: grid;
}

.questionWrapper{
    display: grid;
    grid-template-columns: 10fr 1fr;
    grid-gap: 1em;
    align-items: center;
    margin: 20px 0;
}
.question{
    padding-bottom: 18px;
    color: #000000;
    border-bottom: 2px solid #00BDD0;
}
.q{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.answer{
    margin-top: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    padding: 0 25px 0 0;
    display: flex;
    align-items: center;
}
.animate {
    transition: all 1s ease-in;
    animation-name: fadeInDown;
    animation-duration: 1s;
}
@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.gridDropZone{
    height: 400px;
    border: 1px solid;
    overflow: hidden;
    overflow-y: scroll;
}
.q{
    height: auto !important;
    display: block;
    margin-left: 25px;

}
.formWrapper{
    display: grid;
    margin-top: 155px;
    width: 400px;
}