.formWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}
.form{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
}
.btnWrapper{
    margin-top: 1em;
    text-align: end;
}
.label>span{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 17px;
    display: flex;
}
.label>span>span{
    color: #FF5069;
}
.error{
    margin-left: auto;
}
.upload{
    text-align: center;
}
.blue{
    text-align: left;
    margin-top: auto;
}
.blue>div{
    background: #00BDD0 !important;
}
.imgWrapper{
    display: grid;
}