.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4em;
}

.downloadWrapper{
    text-align: center;
    width: 200px;
    margin-bottom: 75px;
}

.btnWrapper{
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}
.blue{
    background: #00BDD0 !important;
}