.infoWrapper{
    display: grid;
    grid-gap: 1em;
    width: 400px;
}
.editWrapper{
    margin-top: 10px;
    float: right;
}
.editModalWrapper{
    margin-top: 90px;
    padding: 0 25px;
    display: grid;
    grid-gap: 1em;
}
.contact{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #00BDD0;
}
.header{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 35px;
    color: #000000;
}
.btnWrapper{
    margin-top: 25px;
}
.blue{
    background: #00BDD0 !important;
}
.save{
    margin: 15px 0 55px auto;
    float: right;
}
.partWrapper{
    margin: 15px 0;
}
.textArea{
    height: 150px !important;
}
.files{
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 1em;
    margin-top: 20px;
}
.file{
    cursor: pointer;
    text-align: center;
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}
.file__wrapper{
    position: relative;
}
.file__wrapper:hover .delete{
    opacity: 1;
}
.delete{
    cursor: pointer;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    width: 20px;
    height: 20px;
    /*background: #000;*/
}
.delete>img{
    width: 100%;
    height: 100%;
}
.greenDiv{
    background: none;
    border: 1px solid #20CF54;
    border-radius: 10px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content:center;
    height: 40px;
    color: #20CF54;
    cursor: pointer;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    font-family: 'Balsamiq Sans', cursive;
    transition: all 0.5s;
}
.greenDiv:hover{
    background: #20CF54;
    color: #ffffff;
}
.modalWrapper{
    margin: 16ф0px 25px;
    text-align: center;
}
.modalWrapper>h3{
    margin-bottom: 70px;
}
.file__name{
    width: 200px;
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden;
    text-overflow: ellipsis;
}
.file>span{
    width: 50px;
}
.fileWrapper{
    height: 45px;
    width: 45px;
    text-align: center;
    margin: 0 auto;
}
.fileWrapper>img{
    width: 100%;
    height: 100%;
}
.none{
    display: none;
}