@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
*{

    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #000;
}
.prev{
    border-bottom-right-radius: 15px;
}
.next{
    border-top-right-radius: 15px;
}
.activeLink{
    color: #00BDD0 !important;
    background: #ffffff !important;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    position: relative;
}
.activeLink>img{
    filter: invert(57%) sepia(89%) saturate(1502%) hue-rotate(141deg) brightness(92%) contrast(101%);
}

.picker-input__text{
    background: #F8F8F8;
    border-radius: 5px;
    border: 1px solid #e4e4e4;
}


.react-datepicker-wrapper{
    width: 100%;
}

/*Custom scroll*/
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #00BDD0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #00BDD0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
/*Custom scroll*/